@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #868D8F; 
  --cor1: #D3D8DB; 
  --cor2: #194852; 
  --cor3: #54808D; 
  --cor4: #0D0D0D;
  --white: #ffffff;
  --black: #000000;

  --fonte-texto: 'Oxygen', sans-serif;
  --fonte-titulo: 'Inter', sans-serif;;
  --fonte-nav: Arial, Verdana, Comic-sans-serif;
}

body {
  font-family: var(--fonte-texto);
  background-color: var(--bg);
  color: var(--fontColor);
}

main {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
}

ul {
  list-style: none;
}

.light {
  --bg: var(--white);
  --fontColor: var(--cor4);
  --p: var(--black);
  --a: var(--black);
  --btnBg: var(--cor4);
  --btnFontColor: var(--white);
}

.dark {
  --bg: var(--cor4);
  --fontColor: var(--cor1);
  --p: var(--white);
  --a: var(--white);
  --btnBg: var(--cor1);
  --btnFontColor: var(--black);
}

/* button {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px;
} */

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  height: 35px;
  width: 55px;
  border-radius: 20px;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  text-transform: none
}

.btn:focus { 
  outline-style: none;
  cursor: pointer;
}

.botao {
  color: var(--white);
  background-color: var(--cor4);
  text-decoration: none;
  margin-top: 28px;
  padding: 14px;
  font-family: var(--fonte-texto);
  font-weight: bolder;
  border-radius: 4px;
}

.menu {
  margin-bottom: 24px;
  background: #fb5;
  border-radius: 4px;
}

nav {
  margin: 12px;
  padding: 12px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 2px 4px 6px var(--a);
}

nav > a {
  color: var(--p);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  margin: 14px;
  padding: 12px;
}

nav > a:hover {
  color: var(--a);
}

header {
  display: flex;
  flex-direction: column;
  /* min-height: px; */
  align-items: center;
  background-image: url('/imagens/LOGOIVT.png');
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
  margin: 14px 8px;
  padding: 20px;
}

h1 {
  color: var(--p);
  font: 1.4em var(--fonte-titulo);
  line-height: 2;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.describe {
  line-height: 1.2em;
  font-size: .8em;
  text-align: justify;
}

header > div > p {
  color: var(--p);
  font: bold 32px var(--fonte-texto);
  font-size: 1.2em;
  display: contents;
  max-width: 600px;
  text-align: justify;
  line-height: 2.2em;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 12px;
  padding: 40px;
  background-color: var(--cor2);
  color: #fff;
  border-radius: 8px;
}

.sobre h2 {
  text-align: center;
  color: var(--white);
  margin: 8px;
  text-transform: uppercase;
}

.sobre h3 {
  color: #6094E2;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 36px;
  padding-bottom: 4px;
}

.sobre h3::before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.sobre p {
  text-align: initial;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 1.2em;
  padding-bottom: 1.3em;
}

.sobre .botao {
  background-color: var(--cor1);
  color: var(--cor4);
  margin-top: 28px;
  padding: 14px;
}

.servicos {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 12px;
  padding: 20px;
  height: 280px;
}

.servicos h2 {
  color: gray;
  font: bolder 28px Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px 12px;
  text-transform: uppercase;
}

ul.lista-servicos {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

img.foto {
  border-radius: 48%;
  margin: 18px;
  padding: 8px;
  width: 98px;
}

.servicos p {
  color: var(--p);
  font: bolder 14px Serif;
  margin: 6px;
  padding: 12px;
  align-items: center;
  text-align: center;
  text-indent: .1em;
  text-transform: uppercase;
}

.parceiros {
  background-color: var(--cor2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 12px;
  padding: 40px;
  color: #fff;
  border-radius: 8px;
}

.parceiros h2 {
  color: var(--white);
  font-weight: bold;
  margin: 8px 12px;
  text-transform: uppercase;
}

.parceiros h3 {
  font-weight: 900;
  color:#6094E2;
}

.parceiros h3::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.parceiros div {
  /* display: grid;
  grid-template-columns: max-content; */
  text-align: center;
  justify-items: start;
  margin: 14px;
}

.parceiros p{
  text-align: initial;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 1.2em;
  padding-bottom: 1.3em;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  padding: 24px;
}

.contato h2 {
  color: gray;
  font: bolder 32px Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.contato h2::before {
  content: '📱';
  display: inline-block;
  margin-right: 4px;
}

.dados a{
  font-size: 14px;
  text-decoration: none;
}

.dados p {
  color: var(--p);
  font: bolder 1.2em Arial, Helvetica, sans-serif;
  padding: 14px;
  text-transform: uppercase;
}

.dados p::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 10px;
  margin-right: 8px;
  background-color: #D35400;
}

.copy {
  background-color: #fb5;
  font-size: .9em;
  text-align: left;
  width: 35%;
  margin: 12px;
  padding: 8px;
  border-radius: 4px;
}

.copy p {
  color: var(--p);
  font-family: 'IBM Plex Mono', monospace;
  padding: 8px;
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
  header {
    text-align: start;
    background-position: top;
  }
  nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
    max-width: 550px;
  }
  .menu {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
    margin-bottom: 14px;
}
  .servicos {
    background-color: var(--cor1);
    text-align: center;
    padding-bottom: 180px;
    height: 380px;
  }
  .servicos h2 {
    padding-bottom: 24px;
  }
  ul.lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 120px;
    padding-bottom: 48px;
  }
  img.foto {
    width: 50px;
  }
  .contato h2{
    font: bolder 18px Verdana;
  }
  .copy {
    width: 100%;
    margin: 4px;
  }
}