@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #868D8F; 
  --cor1: #D3D8DB; 
  --cor2: #194852; 
  --cor3: #54808D; 
  --cor4: #0D0D0D;
  --white: #ffffff;
  --black: #000000;

  --fonte-texto: 'Oxygen', sans-serif;
  --fonte-titulo: 'Inter', sans-serif;;
  --fonte-nav: Arial, Verdana, Comic-sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-texto);
  background-color: var(--bg);
  color: var(--fontColor);
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}

ul {
  list-style: none;
}

.light {
  --bg: var(--white);
  --fontColor: var(--cor4);
  --p: var(--black);
  --a: var(--black);
  --btnBg: var(--cor4);
  --btnFontColor: var(--white);
}

.dark {
  --bg: var(--black);
  --fontColor: var(--cor1);
  --p: var(--white);
  --a: var(--white);
  --btnBg: var(--cor1);
  --btnFontColor: var(--black);
}

.btn {
  display: grid;
  align-items: right;
  justify-content: space-between;
  margin: 8px;
  padding: 14px;
  background-color: transparent;
  border: none;
}

.btn:focus { 
  outline-style: none;
  cursor: pointer;
}

.botao {
  color: var(--white);
  background-color: var(--cor4);
  text-decoration: none;
  margin-top: 24px;
  padding: 10px;
  font: bolder 16px var(--fonte-texto);
  border-radius: 12px;
}

.header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu a {
  display: block;
  color: var(--cor2);
  margin: 10px;
  padding: 10px;
  font: bold 16px var(--fonte-nav);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s ease;
}

.menu a:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.header > img {
  display: flex;
  background: transparent;
  width: 100px;
}

h1 {
  display: flex;
  justify-content: center;
  color: var(--p);
  font: bolder  1.2em var(--fonte-titulo);
  margin: 30px 12px;
  text-transform: uppercase;
}

.describe {
  font: bold 1.2em var(--fonte-texto);
  color: var(--p);
  margin: 4px;
  padding: 8px;
  text-align: justify;
}

.describe p {
  line-height: 1.4em;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 12px;
  padding: 36px;
  background-color: var(--cor3);
  color: #fff;
  border-radius: 8px;
}

.sobre h2 {
  font: bolder 28px var(--fonte-titulo);
  text-align: center;
  color: var(--white);
  margin: 8px;
  text-transform: uppercase;
}

.sobre h3 {
  color: #EEE8A9;
  font: bolder 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 36px;
  padding-bottom: 4px;
}

.sobre h3::before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.sobre div > p {
  text-align: center;
  font: 1.2em var(--fonte-texto);
  line-height: 1.8em;
  margin: 1.2em;
  padding-bottom: 1em;
}

.sobre .botao {
  background-color: var(--btnBg);
  color: var(--btnFontColor);
  margin-top: 18px;
  padding: 12px;
}

.treinamentos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  padding: 48px;
  background-color: var(--cor0);
  color: #fff;
  border-radius: 8px;
}

.treinamentos h2 {
  font: bolder 28px var(--fonte-titulo);
  text-align: center;
  color: var(--white);
  margin: 4px;
  text-transform: uppercase;
}

.treinamentos div > p {
  font: 1em var(--fonte-texto);
  line-height: 1.8em;
  margin: 1em;
  padding: 1em;
}

.servicos {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 12px;
  padding: 28px;
  height: 380px;
}

.servicos h2 {
  color: gray;
  font: bolder 28px var(--fonte-titulo);
  margin: 12px;
  text-transform: uppercase;
}

ul.lista-servicos {
  display: flex;
  font-size: medium;
  margin: 14px;
}

img.foto {
  border-radius: 38%;
  margin: 18px;
  padding: 10px;
  width: 100px;
}

.servicos p {
  color: var(--p);
  font: bolder 16px Helvetica;
  margin: 8px;
  padding: 18px;
  align-items: center;
  text-align: center;
  text-indent: .1em;
  text-transform: uppercase;
}

.parceiros {
  background-color: var(--cor3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 12px;
  padding: 28px;
  color: #fff;
  border-radius: 8px;
}

.parceiros h2 {
  color: var(--white);
  font: bolder 28px var(--fonte-titulo);
  margin: 8px 12px;
  text-transform: uppercase;
}

.parceiros h3 {
  font: bold 1.2rem;
  color:#EEE8A9;
  text-transform: uppercase;
}

.parceiros h3::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.parceiros div {
  margin: 18px;
}

.parceiros p {
  text-align: center;
  font: 1.2em var(--fonte-texto);
  line-height: 1.4em;
  margin: 1.2em;
  padding-bottom: 1.2em;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  padding: 36px;
}

.contato h2 {
  color: gray;
  font: bolder 32px var(--fonte-titulo);
  text-align: center;
  text-transform: uppercase;
}

.contato h2::before {
  content: '📱';
  display: inline-block;
  margin-right: 4px;
}

.dados a {
  font-size: 14px;
  text-decoration: none;
}

.dados img {
  margin-top: 8px;
  margin-left: -35px;
  justify-content: space-between;
  position: absolute;
  width: 30px;
  height: 30px;
}

.dados p {
  color: var(--p);
  font: bolder 1.3em Arial;
  margin: 8px;
  padding: 12px;
  text-transform: uppercase;
}

.copy {
  background-color: #17202A;
  width: 180px;
  font-size: .9em;
  text-align: center;
  margin: 12px;
  padding: 4px;
  border-radius: 8px;
}

.copy p {
  text-align: left;
  color: var(--white);
  font: bolder 12px 'IBM Plex Mono', monospace;
  padding: 8px;
  margin: 4px;
}

button > img {
  background-color: transparent;
  margin: 6px;
  width: 60%;
  height: 65%;
  border-radius: 4px;
  align-items: center;
}

@media (min-width: 360px) and (max-width: 720px) {
  main {
    max-width: 100%;
    /* padding: 40px; */
  }
  .header {
    background-color:var(--cor1);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 24px;
  }
  nav > a {
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: start;
  }
  h1{
    font-size: 16px;
    padding-top: 10px;
    margin: 24px;
  }
  .btn {
    background-color: transparent;
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
  }
  .parceiros p, .sobre div > p, .describe p, .contato p, .treinamentos div > p {
    font-size: 16px;
    text-align: start;
  }
  .parceiros h2, .treinamentos h2, .sobre h2, .servicos h2 {
    font-size: 24px;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14px;
    border-radius: 8px;
  }
  .treinamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicos {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    text-align: center;
    padding: 8px;
    height: 900px;
    border-radius: 8px;
  }
  .servicos h2 {
    margin-top: 36px;
    padding-top: 18px;
  }
  ul.lista-servicos {
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
  }
  img.foto {
    width: 55px;
    padding: 8px;
  }
  .contato {
    display: grid;
    grid-column: 1;
    gap: 10px;
  }
  .contato h2 {
    display: flex;
    font-size: 30px;
  }
  div > ul.dados{
    display: flex;
    flex-direction: column;
    margin: 36px;
  }
  .copy {
    /* width: 70%; */
    margin: 8px;
    padding: 4px;
  }
}

.scrollTop {
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
  position: fixed;
  margin: 12px;
  bottom: 72px;
  right: 24px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}

.scrollTop.ativo {
  pointer-events: visibleFill;
  opacity: 0;
}
