@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #868D8F; 
  --cor1: #D3D8DB; 
  --cor2: #194852; 
  --cor3: #54808D; 
  --cor4: #0D0D0D;
  --white: #ffffff;
  --black: #000000;

  --fonte-texto: 'Oxygen', sans-serif;
  --fonte-titulo: 'Inter', sans-serif;;
  --fonte-nav: Arial, Verdana, Comic-sans-serif;
}

.light-theme {
  --bg: var(--cor0);
  --fontColor: var(--cor4);
  --p: var(--black);
  --btnBg: var(--cor4);
  --btnFontColor: var(--cor0);
}

.dark-theme {
  --bg: var(--cor4);
  --fontColor: var(--cor1);
  --p: var(--white);
  --btnBg: var(--cor1);
  --btnFontColor: var(--cor4);
}

.theme button {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px;
}

.btn {
  position: absolute;
  top: 20px;
  left: 50px;
  margin: 0px;
  padding: 0px;
  height: 45px;
  width: 75px;
  border-radius: 20px;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus { 
  outline-style: none;
  cursor: pointer;
}

body {
  font-family: var(--fonte-texto);
  background-color: var(--bg);
  color: var(--fontColor);
}

.botao {
  background-color: var(--cor1);
  color: var(--cor4);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: -18px;
  padding: 5px 10px;
  font-family: .8em;
  font-weight: bolder;
  border-radius: 8px;
}

nav {
  background-color: var(--cor1);
  text-decoration: none;
  padding: 14px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.400);
}

nav > a {
  color: var(--cor3);
  font-weight: bolder;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  margin: 10px;
  padding: 4px;
  border-radius: 4px;
}

nav > a:hover {
  color: var(--cor4);
  background-color: var(--cor0);
}

header {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  background-image: url('/imagens/LOGOIVT.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  margin: 10px 4px;
  padding: 20px;
}

header > h1 {
  color: var(--p);
  font: 1.3em var(--fonte-titulo);
  margin-top: 20px;
  margin-bottom: 20px;
}

.describe {
  line-height: 1em;
  font-size: .9em;
  text-align: justify;
}

header > div > p {
  color: var(--white);
  font: bolder 16px var(--fonte-texto);
  display: contents;
  max-width: 600px;
  margin: 15px;
  text-align: justify;
  font-size: 1em;
  line-height: 2em;
}

main {
  min-width: 700px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: var(--cor3);
  color: #fff;
}

#sobre h2 {
  color: var(--white);
  margin: 8px 12px 10px;
}

.grid h3 {
  color: var(--p);
  margin: 18px 10px;
}


#sobre p {
  margin: 1.5em;
  text-align: justify;
  text-indent: 30px;
  font-size: 1.2em;
  line-height: 1.3em;
  width: 500px;
}

#sobre .botao {
  background-color: var(--cor1);
  color: var(--cor4);
  margin-bottom: 20px;
}

#servicos {
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--black);
  color: #ffffff;
}

#servicos h2 {
  color: white;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

#servicos div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: auto;
}

div > div {
  flex-wrap: wrap;
  margin: 16px 12px;
}

img.foto {
  display: flex;
  flex-direction: column;
  border-radius: 45%;
  margin: 10px 8px;
  padding: 2px;
  width: 90px;
  height: 90px;
}

#servicos p {
  color: #6094E2;
  font-size: 18px;
  margin: 4px;
  padding: 4px;
  align-items: center;
  text-align: center;
  text-indent: .4em;
}

#parceiros {
  background-color: var(--cor3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

#parceiros h2 {
  color: var(--cor1);
  margin: 8px 12px 10px;
}

#parceiros h3 {
  color: var(--p);
  margin: 12px 10px;
}

.container-partner {
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 14px 10px;
  text-align: justify;
}

#parceiros div {
  display: grid;
  grid-template-columns: max-content;
  text-align: center;
  justify-content: center;
  text-indent: .9em;
  margin-top: 18px;
}

#contato {
  background-color: var(--black);
  align-items: center;
  text-align: center;
  padding: 15px;
}

#contato h2 {
  color: var(--white);
  margin: 12px 10px;
  padding-bottom: 4px;
}

#contato p {
  color: var(--white);
  padding-top: 2px;
}

#contato .container-media {
  display: flex;
  flex-direction: row;
  padding-top: 18px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#contato a{
  color: white;
  font-size: 12px;
  text-decoration: none;
  width: 200px;
  height: 100px;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.social-media img {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  width: 90px;
  height: 88px;;
}

section > footer {
  background-color: var(--cor1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin: auto;
  padding: 20px;
  height: 8vh;
  width: 70,3vw;
}

.portfolio {
  color: var(--black);
  font: bolder 12px Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.voltar {
  color: var(--white);
  background-color: var(--cor4);
  font: bolder 12px Verdana, Geneva, Tahoma, sans-serif;
  width: 50px;
  height: 28px;
  margin: 8px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
}